.input-search {
    width: 200px;
    height: auto; 
  }
  .icon-delete {
    width: 10px;
    height:10px;
    color: grey;
  }
  .isDisplay {
    width: 200px;
    height: auto;
    margin: 5px;
    border: 1px solid black;
    display: none;
  }
  
  .title-box{
    display: flex;
    justify-content: space-between;
    background-color: #d7d7d7;
    padding: 5px;
    margin: 0;

  }
  .title {
    margin: 0;
  }

  .button {
    border: 0px;
    background-color: #d7d7d7;
    height: auto;
    width: 50px;
    padding: 0 5px 0 5px;
  }
  
  .hide {
    display: none;
  }

  ul {
    list-style-type: none;
  }
  
  ::placeholder {
    font-style: italic;
  }